.main-aside
  nav.main-nav
    ul.nav__list
      li.nav__item.active
        a(href="/admin/index") 首页
      li.nav__item
        a(href="/admin/book/list") 书籍管理
      li.nav__item
        a(href="#") 类型管理
      li.nav__item
        a(href="#") 作者管理
      li.nav__item
        a(href="/admin/order/list") 订单管理

