doctype html
html
  head
    title 侧边栏
    meta(charset="utf-8")
    link(rel="stylesheet",href="../../admin/css/normalize.css")
    link(rel="stylesheet", href="../../admin/css/base.css")
  body
    .main-aside
      nav.main-nav
        ul.nav__list
          li.nav__item.active
            a(href="#") 首页
          li.nav__item
            a(href="#") 书籍管理
          li.nav__item
            a(href="#") 类型管理
          li.nav__item
            a(href="#") 作者管理
          li.nav__item
            a(href="#") 订单管理

