extend ./layout.pug

block content
  .book-list
    .topbar
      a(href="/admin/book").btn.blue 新增书籍
    .search
      .row
        span.search__label-box
          label.search__label(for="search__name") 书名
          input(type="text")#search__name.input.search__input
        span.search__label-box
          label.search__label(for="search__type") 类别
          select#search__type.select.search__select
            option(value="") 全部
        span.search__label-box
          label.search__label(for="search__author") 作者
          select#search__author.select.search__select
            option(value="") 全部
      .row
        span.search__label-box
          label.search__label(for="search__publishTime__start") 发布时间
          input(type="date")#search__publishTime__start.input.search__date
          label(for="search__publishTime__end").search__date__interval 至
          input(type="date")#search__publishTime__end.input.search__date
        span.search__label-box
          label.search__label(for="search__stock") 库存
          input(type="number")#search__stock.input.search__num
        input(type="button",value="搜索").btn.blue.search__btn
    table.table
      thead
        tr
          th 序号
          th 书名
          th 类别
          th 作者
          th 发布时间
          th 库存
          th 操作
      tbody
        tr
          td 1
          td 书名1
          td 文学
          td me
          td 2016-06-12
          td 100
          td
            a(href="#").link.btn.blue 编辑
            a(href="#").link.btn.orange 删除
