- if (breadcrumbs)
  .breadcrumb
    each item,i in breadcrumbs
      - if(item.url)
        a(href=item.url).breadcrumb__item= item.name
      - else
        span.breadcrumb__item= item.name
      - if (i !== breadcrumbs.length - 1)
        span.breadcrumb__interval >>
