<!DOCTYPE html>
<html>

<head>
  <title>头部</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../admin/css/normalize.css">
  <link rel="stylesheet" href="../../admin/css/base.css">
</head>

<body>
  <header class="main-header">
    <h1 class="logo"><a href="#">Bear Bookstore</a></h1>
    <ul class="topbar">
      <li class="topbar__item news"><a href="#">消息</a></li>
      <li class="topbar__item user"><a href="#">用户</a>
        <ul class="submenu">
          <li><a href="#">退出</a></li>
        </ul>
      </li>
    </ul>
  </header>
</body>

</html>