header.main-header
  h1.logo
    a(href="#") Bear Bookstore
  ul.topbar
    li.topbar__item.news
      a(href="#") 消息
    li.topbar__item.user
      a(href="#") 用户
      ul.submenu
        li
          a(href="#") 退出
