doctype html
html
  head
    title= title
    meta(charset="utf-8")
    link(rel="stylesheet", href="/admin/css/normalize.css")
    link(rel="stylesheet", href="/admin/css/base.css")
    link(rel="stylesheet", href="/admin/css/pages.css")
  body
    .page
      include ./head.pug
      .container
        include ./aside.pug
        .main
          include ./breadcrumb.pug
          .main__content
            block content
    script(src="/admin/js/util.js")
    script(src="/admin/js/public.js")
    block script
