doctype html
html
  head
    title 后台管理系统-登录
    meta(charset="utf-8")
    link(rel="stylesheet",href="css/normalize.css")
    link(rel="stylesheet",href="css/base.css")
    link(rel="stylesheet",href="css/signin.css")
  body
    .page
      .signin
        .signin__head 登录后台管理系统
        .signin__body
          .row
            label(for="signin-name").label.signin__label 用户名
            input(type="text").input.signin__input#signin__name
          .row
            label(for="signin-password").label.signin__label 密码
            input(type="text").input.signin__input#signin__password
          .row
            input(type="button",value="登录").btn.orange.border-radiussignin__btn#signin__submit
    script(src="js/util.js")
    script(src="js/signin.js")
