<!DOCTYPE html>
<html>

<head>
  <title>后台管理系统-登录</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../admin/css/normalize.css">
  <link rel="stylesheet" href="../../admin/css/base.css">
  <link rel="stylesheet" href="../../admin/css/signin.css">
</head>

<body>
  <div class="page">
    <div class="signin">
      <div class="signin__head">登录后台管理系统</div>
      <div class="signin__body">
        <div class="row">
          <label class="label signin__label" for="signin-name">用户名</label>
          <input class="input signin__input" type="text" id="signin-name">
        </div>
        <div class="row">
          <label class="label signin__label" for="signin-password">密码</label>
          <input class="input signin__input" type="text" id="signin-password">
        </div>
        <div class="row">
          <input class="btn signin__btn" type="button" value="登录">
        </div>
      </div>
    </div>
  </div>
</body>

</html>