extend ./layout.pug

block content
  .type-list
    .topbar
      a(href="#").btn.blue 删除类型
      a(href="#").btn.orange 新增类型
    ul.list
      li.list__item
        span 类别1
        a(href="#").delete
